---
layout: layouts/base.njk
title: Bienvenido a mi Project
descripcion: Explorando el conocimiento, compartiendo ideas y proyectos.
---
<section class="section">
    <h2>{{title}}</h2>
    <p>Este es un sitio web con una estructura reutilizable.</p>
  </section>

<section class="section">
    <h2>Nuestros Servicios</h2>
    <p>Ofrecemos las mejores soluciones para ti.</p>
</section>